[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
moke-config = "*"
python-dotenv = "*"
pyyaml = "*"
pillow = "*"
"beautifulsoup4" = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.6"

[scripts]
training = "python src/keras_glow/run.py training"
tensorboard = "tensorboard --logdir log/tensorboard"
